<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Chat</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="./static/bootstrap-icons/font/bootstrap-icons.css"
    />

    <!--引入下拉插件css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="./static/bootstrap-select/bootstrap-select.min.css"
    />
    <!-- 高亮 -->
    <link rel="stylesheet" href="./static/css/hightlight.css" />
    <!-- katex -->
    <link rel="stylesheet" href="./static/katex/katex.min.css" />
    <style>
      .btn-default {
        border-color: var(--bs-border-color);
        color: var(--bs-secondary) !important;
      }
    </style>
  </head>
  <body>
    <div class="container" id="app">
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">AI Chat</a>
          <button
            type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active">首页</a>
              <a
                href="#"
                class="nav-item nav-link"
                data-bs-toggle="modal"
                data-bs-target="#set"
                >设置</a
              >
              <a href="#" class="nav-item nav-link">关于</a>
            </div>
          </div>
        </div>
      </nav>
      <br />
      <div class="pt-5" id="chat">
        <div class="card mt-2">
          <div class="card-body bg-muted">
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">模型:</label
              ><select
                class="form-control selectpicker"
                v-model="model"
                @change="save(0)"
              >
                <option>gpt-3.5-turbo</option>
                <option>gpt-3.5-turbo-16k</option>
                <option>gpt-3.5-turbo-0613</option>
                <option>gpt-3.5-turbo-16k-0613</option>
                <option>gpt-4</option>
                <option>gpt-4-32k</option>
                <option>gpt-4-0613</option>
                <option>gpt-4-32k-0613</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="pwd" class="form-label">快捷角色:</label>
              <vm-select
                :options="roles"
                v-model="selecteDrole"
                :method="preSet()"
              ></vm-select>
            </div>
          </div>
        </div>

        <div class="card mt-2" v-show="chatLog.length==0">
          <div class="card-header">说明</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">首先打开导航栏的设置</li>
              <li class="list-group-item">
                输入OPENAI地址（可以是代理地址）和KEY，点击保存
              </li>
              <li class="list-group-item">在下面写内容然后发条消息试试？</li>
            </ul>
          </div>
        </div>
        <div class="card mt-2" v-for="chat in chatLog">
          <div
            class="card-header"
            :class="{ 'bg-secondary text-light': chat.name === '机器人' }"
          >
            <i class="bi-robot" role="img" v-if="chat.name === '机器人'"></i>
            <i class="bi-person" role="img" v-else></i>
            {{chat.name}}

            <button
              class="btn btn-outline-info btn-sm float-end copy-btn"
              :class="{ ' text-light': chat.name === '机器人' }"
              :data-clipboard-text="encodeURIComponent(chat.msg)"
            >
              复制
            </button>
          </div>

          <div
            class="card-body"
            v-html="beautifyText(chat.msg,chat.pluginLog)"
          ></div>
        </div>
        <div class="pt-5 d-flex align-items-end">
          <div class="btn-group btn-group-sm">
            <button
              class="btn btn-danger"
              type="button"
              @click="clean"
              v-bind:disabled="wait"
            >
              <i class="bi bi-trash"></i>
              清空记录
            </button>
            <button
              class="btn btn-warning"
              type="button"
              @click="cleanMessage()"
              v-bind:disabled="wait"
            >
              <i class="bi bi-trash"></i>
              清空输入框
            </button>
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#set"
            >
              <i class="bi bi-sliders"></i>
              设置
            </button>
            <button
              class="btn btn-info"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#plugin"
            >
              <i class="bi bi-compass"></i>
              插件配置
            </button>
          </div>
        </div>
      </div>
      <div class="pt-2 d-flex align-items-end">
        <div class="input-group mb-3 input-group-sm">
          <textarea
            type="text"
            class="form-control"
            v-model="message"
            v-bind:disabled="wait"
            placeholder="请输入内容"
            @keydown="prepareSend"
          ></textarea>
          <button
            class="btn btn-success"
            type="button"
            @click="send"
            v-bind:disabled="wait"
          >
            <i class="bi-send" role="img"></i>
            发送
          </button>
        </div>
      </div>
      <!-- 模态框 -->
      <div class="modal fade" id="set">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
              <h4 class="modal-title">设置</h4>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>

            <!-- 模态框内容 -->
            <div class="modal-body">
              <div class="input-group mb-3 mt-3">
                <span class="input-group-text">ApiUrl</span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="输入访问的OpenAI网站地址"
                  v-model="ApiUrl"
                />
              </div>
              <div class="input-group mb-3 mt-3">
                <span class="input-group-text">ApiKey</span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="输入访问的密钥"
                  v-model="ApiKey"
                />
              </div>
              <div class="input-group mb-3 mt-3">
                <span class="input-group-text">上下文对话条数</span>
                <input
                  type="number"
                  class="form-control"
                  placeholder="输入上下文对话条数"
                  v-model="history"
                />
              </div>
              <div class="input-group mb-3 mt-3">
                <span class="input-group-text">温度</span>
                <input type="text" class="form-control" v-model="temperature" />
                <input
                  type="range"
                  class="form-range"
                  min="0"
                  max="2"
                  step="0.1"
                  id="temperature"
                  v-model="temperature"
                />
              </div>
              <div class="alert alert-info">
                使用什么样的采样温度，介于0和2之间。值越高（如0.8），输出越随机，而值越低（如0.2），输出就越集中和确定。
              </div>
              <div class="input-group mb-3 mt-3">
                <span class="input-group-text">top_p</span>
                <input type="text" class="form-control" v-model="top_p" />
                <input
                  type="range"
                  class="form-range"
                  min="0"
                  max="2"
                  step="0.1"
                  id="top_p"
                  v-model="top_p"
                />
              </div>
              <div class="alert alert-info">
                一种替代温度采样的方法，称为核采样，其中模型考虑具有top_p概率质量的令牌的结果。因此，0.1意味着只考虑包含前10%概率质量的代币。
              </div>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                关闭
              </button>
              <button type="button" class="btn btn-success" @click="save(1)">
                保存
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="plugin">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
              <h4 class="modal-title">插件选择</h4>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>

            <!-- 模态框内容 -->
            <div class="modal-body">
              <select
                class="form-select"
                multiple
                v-model="pluginSelect"
                @change="handleSelectChange"
              >
                >
                <option value="">不使用</option>
                <option :value="row.file_name" v-for="row in plugins">
                  {{row.name}}
                </option>
              </select>
              <div class="input-group mb-3 mt-3">
                {{selectedPluginDescription}}
              </div>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                关闭
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="./static/js/bootstrap.bundle.min.js"></script>
    <!-- 引入jq,layer弹窗 -->
    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/layer/layer.js"></script>
    <!--引入下拉插件js-->
    <script
      type="text/javascript"
      src="./static/bootstrap-select/bootstrap-select.min.js"
    ></script>
    <script
      type="text/javascript"
      src="./static/bootstrap-select/i18n/defaults-zh_CN.min.js"
    ></script>
    <!-- markdown -->
    <script src="./static/js/marked.min.js"></script>
    <!-- 高亮 -->
    <script src="./static/js/highlight.min.js"></script>
    <!-- katex -->
    <script src="./static/katex/katex.min.js"></script>
    <!-- 复制 -->
    <script src="./static/js/clipboard.min.js"></script>
    <!-- vue2 -->
    <script src="./static/js/vue.js"></script>
    <script src="./static/js/axios.min.js"></script>
    <!-- 自定义vue插件 -->
    <script src="./static/js/vue.plugin.js"></script>
    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        data: {
          wait: false,
          isStart: false,
          message: "",
          chatLog: [],
          plugins: [],
          pluginSelect: [],
          roles: [],
          selecteDrole: "",
          model: "gpt-3.5-turbo-0613",
          ApiUrl: "https://api.chatanywhere.cn/",
          ApiKey: "",
          history: 3,
          temperature: 0,
          top_p: 1,
        },
        methods: {
          clean: function () {
            var vm = this;
            // 使用layer的confirm确认框
            this.$layer.confirm(
              "确定要清空聊天记录吗？",
              {
                btn: ["确定", "取消"],
                title: "确认清空",
                closeBtn: 0,
              },
              function () {
                // 清空chatLog
                vm.chatLog = [];
                // 从localStorage中删除chatLog
                window.localStorage.removeItem("chatLog");
                vm.$layer.closeAll();
                vm.$message("清除成功", "success");
              },
              function () {
                // 不执行任何操作
              }
            );
          },
          cleanMessage: function () {
            // 清空输入框
            this.message = "";
          },
          //预设role
          preSet: function () {
            if (this.selecteDrole != undefined && this.selecteDrole != "") {
              this.message = this.selecteDrole;
              this.selecteDrole = "";
            }
          },
          beautifyText: function (text, pluginLog) {
            // 使用marked将文本转换为HTML
            var markedHtml = marked.parse(text);
            //使用katex显示数学公式
            var katexHtml = markedHtml.replace(
              /(\$\$.*?\$\$|\$.*?\$)(?![^<]*<\/code>)/g,
              function (match) {
                // 使用正则表达式匹配KaTeX语法的公式
                var katexExpression = match.slice(
                  match.startsWith("$$") ? 2 : 1,
                  match.endsWith("$$") ? -2 : -1
                ); // 去除公式前后的$符号
                //去除转义
                katexExpression = katexExpression
                  .replace(/&lt;/g, "<")
                  .replace(/&gt;/g, ">")
                  .replace(/&amp;/g, "&")
                  .replace(/&quot;/g, '"')
                  .replace(/&apos;/g, "'");
                try {
                  var katexRendered = katex.renderToString(katexExpression, {
                    throwOnError: false,
                  }); // 使用KaTeX渲染公式
                  return katexRendered;
                } catch (error) {
                  return match; // 如果渲染失败，则返回原始的公式文本
                }
              }
            );
            // 使用highlight.js对代码块进行语法高亮
            var highlightedHtml = katexHtml.replace(
              /<pre><code class="(.+?)">([\s\S]+?)<\/code><\/pre>/g,
              function (match, language, code) {
                //去除转义
                code = code
                  .replace(/&lt;/g, "<")
                  .replace(/&gt;/g, ">")
                  .replace(/&amp;/g, "&")
                  .replace(/&quot;/g, '"')
                  .replace(/&apos;/g, "'");
                // 使用highlight.js对代码进行语法高亮
                var highlightedCode = hljs.highlightAuto(code).value;
                var copyButton =
                  '<button class="btn btn-outline-secondary copy-btn" data-clipboard-text="' +
                  encodeURIComponent(code) +
                  '">复制</button>';

                return (
                  '<pre><code class="' +
                  language +
                  '">' +
                  highlightedCode +
                  "</code>" +
                  copyButton +
                  "</pre>"
                );
              }
            );
            //加载插件记录
            if (pluginLog != undefined && pluginLog != null) {
              var html = "";
              for (var i = 0; i < pluginLog.length; i++) {
                var id = pluginLog[i].name + i + text.length;
                var row = pluginLog[i];
                if (row.msg !== null && row.msg !== "") {
                  var card =
                    '<button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-target="#' +
                    id +
                    '" data-bs-toggle="collapse">Used ' +
                    pluginLog[i].name +
                    "</button>" +
                    '<div id="' +
                    id +
                    '" class="card collapse show"><div class="card-body"><button class="btn btn-primary"><span class="spinner-border spinner-border-sm"></span>' +
                    row.msg +
                    "</button></div></div><br>";
                  html += card;
                } else {
                  var input =
                    "<div><label>输入:</label><br><code>" +
                    row.input +
                    "</code></div>";
                  var output =
                    "<div><label>输出:</label><br><code>" +
                    row.output +
                    "</code></div>";
                  var card =
                    '<button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-target="#' +
                    id +
                    '" data-bs-toggle="collapse">Used ' +
                    pluginLog[i].name +
                    "</button>" +
                    '<div id="' +
                    id +
                    '" class="card collapse"><div class="card-body">' +
                    input +
                    output +
                    "</div></div><br>";
                  html += card;
                }
              }
              highlightedHtml = html + highlightedHtml;
            }
            return highlightedHtml;
          },
          smoothscroll: function () {
            const currentScroll =
              document.documentElement.scrollTop || document.body.scrollTop; // 已经被卷掉的高度
            const clientHeight = document.documentElement.clientHeight; // 浏览器高度
            const scrollHeight = document.documentElement.scrollHeight; // 总高度
            if (scrollHeight - 10 > currentScroll + clientHeight) {
              window.requestAnimationFrame(this.smoothscroll);
              window.scrollTo(
                0,
                currentScroll +
                  (scrollHeight - currentScroll - clientHeight) / 2
              );
            }
          },
          load_stream: function (data) {
            let jsonObjects = data.split(',"is_end":false}{'); // 将多个JSON对象分割成单个对象
            let result = "";
            let pluginLog = [];
            let isEnd = false; // 最后一个is_end的值
            for (let i = 0; i < jsonObjects.length; i++) {
              let jsonObject = jsonObjects[i];
              if (i !== 0) {
                jsonObject = "{" + jsonObject; // 补充缺失的左括号
              }
              if (i !== jsonObjects.length - 1) {
                jsonObject = jsonObject + ',"is_end":false}'; // 补充缺失的右括号
              }

              try {
                obj = JSON.parse(jsonObject);
              } catch (error) {
                console.log("对象" + jsonObject + "解析JSON时发生错误:", error);
                return;
              }
              result += obj.content;
              if (Object.keys(obj.pluginLog).length > 0) {
                var existingIndex = pluginLog.findIndex(function (item) {
                  return item.name === obj.pluginLog.name;
                });
                if (existingIndex !== -1) {
                  // 子元素的name已存在，进行覆盖
                  pluginLog[existingIndex] = obj.pluginLog;
                } else {
                  // 子元素的name不存在，直接添加
                  pluginLog.push(obj.pluginLog);
                }
              }
              isEnd = obj.is_end; // 更新最后一个is_end的值
            }
            // 添加机器人的回答到chatLog
            if (!this.isStart) {
              this.isStart = true;
              this.chatLog.push({
                name: "机器人",
                msg: result,
                pluginLog: pluginLog,
              });
            } else {
              index = this.chatLog.length - 1;
              // 更新聊天记录
              this.chatLog[index].msg = this.chatLog[index].msg + result;
              //合并插件记录
              for (var i = 0; i < pluginLog.length; i++) {
                //查找pluginLog每个元素中name相同
                var existingIndex = this.chatLog[index].pluginLog.findIndex(
                  function (item) {
                    //i是给pluginLog用的
                    return item.name === pluginLog[i].name;
                  }
                );
                if (existingIndex !== -1) {
                  // 子元素的name已存在，进行覆盖
                  // this.chatLog[index].pluginLog[existingIndex] = pluginLog[i];
                  Vue.set(
                    this.chatLog[index].pluginLog,
                    existingIndex,
                    pluginLog[i]
                  ); //这样才会更新dom
                } else {
                  // 子元素的name不存在，直接添加
                  this.chatLog[index].pluginLog.push(pluginLog[i]);
                }
              }
            }

            this.smoothscroll();
            if (isEnd) {
              this.isStart = false;
              this.wait = false;
              //缓存
              window.localStorage.setItem(
                "chatLog",
                JSON.stringify(this.chatLog)
              );
            }
          },
          prepareSend: function (event) {
            if (event.ctrlKey && event.keyCode === 13) {
              // 执行你想要的操作
              this.send();
            }
          },
          send: function () {
            var vm = this;
            // 读取data.message的值
            var userMessage = this.message;
            if (userMessage == "") {
              return this.$message("请输入内容再提交");
            }
            // 添加用户的聊天记录到chatLog
            this.chatLog.push({
              name: "用户",
              msg: userMessage,
            });
            this.smoothscroll();
            // 清空输入框
            this.message = "";
            this.wait = true;
            //获取旧的历史对话
            if (this.history > 0) {
              var ChatLog = this.chatLog.slice(0, this.chatLog.length - 1); // 去除最后一个元素
              var ChatLog = ChatLog.slice(-2 * this.history); //获取倒数两倍history元素
              var mergedMessages = [];
              var index = 0;
              var lastType = "";
              while (
                mergedMessages.length < 2 * this.history &&
                index < ChatLog.length
              ) {
                //合并数组长度小于历史记录数组 并且 反转的长度
                if (ChatLog[index].name === "用户" && lastType !== "用户") {
                  mergedMessages.push(ChatLog[index]);
                  lastType = ChatLog[index].name;
                } else if (
                  ChatLog[index].name === "机器人" &&
                  lastType !== "机器人"
                ) {
                  mergedMessages.push(ChatLog[index]);
                  lastType = ChatLog[index].name;
                }
                index++;
              }
            } else {
              mergedMessages = [];
            }
            this.$stream(
              "chat.php",
              {
                ApiUrl: this.ApiUrl,
                ApiKey: this.ApiKey,
                model: this.model,
                pluginSelect: this.pluginSelect,
                message: userMessage,
                history: mergedMessages,
              },
              vm.load_stream
            );
            //缓存
            window.localStorage.setItem(
              "chatLog",
              JSON.stringify(this.chatLog)
            );
          },
          handleSelectChange() {
            if (this.pluginSelect.includes("")) {
              this.pluginSelect = [""]; // 选择 "不使用" 时，将数组重置为只包含空字符串的数组
            }
            this.save(0);
          },
          save: function (type) {
            window.localStorage.setItem("ApiUrl", this.ApiUrl);
            window.localStorage.setItem("ApiKey", this.ApiKey);
            window.localStorage.setItem("temperature", this.temperature);
            window.localStorage.setItem("top_p", this.top_p);
            window.localStorage.setItem("model", this.model);
            window.localStorage.setItem(
              "pluginSelect",
              JSON.stringify(this.pluginSelect)
            );
            if (type) {
              this.$message("保存成功", "success");
            }
          },
          start: function () {
            //获取缓存
            if (window.localStorage.getItem("chatLog") != undefined) {
              this.chatLog = JSON.parse(window.localStorage.getItem("chatLog"));
            }
            this.ApiUrl = window.localStorage.getItem("ApiUrl");
            this.ApiKey = window.localStorage.getItem("ApiKey");
            this.temperature = window.localStorage.getItem("temperature");
            this.top_p = window.localStorage.getItem("top_p");
            this.model = window.localStorage.getItem("model");
            if (window.localStorage.getItem("pluginSelect") != undefined) {
              this.pluginSelect = JSON.parse(
                window.localStorage.getItem("pluginSelect")
              );
            }
            if (this.pluginSelect == null) {
              this.pluginSelect = [];
            }
            if (this.chatLog == null) {
              this.chatLog = [];
            }
          },
          getRoles: function () {
            vm = this;
            this.$post("/ajax.php?act=getRoles", "").then(function (data) {
              if (data.code === 0) {
                vm.roles = data.data;
              } else {
                vm.$message(data.message, "error");
              }
            });
          },
          getPlugins: function () {
            vm = this;
            this.$post("/plugin.php?act=list", "").then(function (data) {
              if (data.code === 0) {
                vm.plugins = data.data;
              } else {
                vm.$message(data.message, "error");
              }
            });
          },
        },
        computed: {
          selectedPluginDescription() {
            if (Array.isArray(this.pluginSelect)) {
              return this.plugins
                .filter((plugin) =>
                  this.pluginSelect.includes(plugin.file_name)
                )
                .map((plugin) => `${plugin.name}(${plugin.description})`)
                .join(", ");
            } else {
              return "";
            }
          },
        },
        mounted() {
          //加载缓存
          this.start();
          this.getRoles();
          //加载插件
          this.getPlugins();
          var vm = this;

          //select插件
          $.fn.selectpicker.Constructor.BootstrapVersion = "5.0.0"; // 替换为你实际使用的Bootstrap版本
          $(".selectpicker").selectpicker();
          //复制插件
          var clipboard = new ClipboardJS(".copy-btn", {
            text: function (trigger) {
              var encodedText = trigger.getAttribute("data-clipboard-text");
              var decodedText = decodeURIComponent(encodedText); //转义
              return decodedText;
            },
          });

          clipboard.on("success", function (e) {
            vm.$layer.msg("复制成功");
            e.clearSelection();
          });
        },
      });
    </script>
  </body>
</html>
