<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Chat</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="./static/bootstrap-icons/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container" id="app">
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">AI Chat</a>
          <button
            type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active">首页</a>
              <a
                href="#"
                class="nav-item nav-link"
                data-bs-toggle="modal"
                data-bs-target="#set"
                >设置</a
              >
              <a href="#" class="nav-item nav-link">关于</a>
            </div>
          </div>
        </div>
      </nav>
      <br />
      <div class="pt-5">
        <div class="card mt-2" v-for="chat in chatLog">
          <div
            class="card-header"
            :class="{ 'bg-secondary': chat.name === '机器人' }"
          >
            {{chat.name}}
          </div>
          <div class="card-body">{{chat.msg}}</div>
        </div>
        <div class="pt-5 d-flex align-items-end">
          <div class="input-group mb-3 input-group-sm">
            <button class="btn btn-danger" type="button" @click="clean">
              <i class="bi bi-trash"></i>
              清空记录
            </button>
            <textarea
              type="text"
              class="form-control"
              v-model="message"
              v-bind:disabled="wait"
              placeholder="请输入内容"
            ></textarea>
            <button class="btn btn-success" type="button" @click="send">
              <i class="bi-send" role="img"></i>
              发送
            </button>
          </div>
        </div>
      </div>
      <!-- 模态框 -->
      <div class="modal fade" id="set">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
              <h4 class="modal-title">设置</h4>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>

            <!-- 模态框内容 -->
            <div class="modal-body">
              <div class="input-group mb-3 mt-3">
                <button class="btn btn-outline-primary" type="button">
                  ApiUrl
                </button>
                <input
                  type="text"
                  class="form-control"
                  placeholder="输入访问的OpenAI网站地址"
                  v-model="ApiUrl"
                />
              </div>
              <div class="input-group mb-3 mt-3">
                <button class="btn btn-outline-primary" type="button">
                  ApiKey
                </button>
                <input
                  type="text"
                  class="form-control"
                  placeholder="输入访问的密钥"
                  v-model="ApiKey"
                />
              </div>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                关闭
              </button>
              <button
                type="button"
                class="btn btn-success"
                @click="save()"
              >
                保存
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="./static/js/bootstrap.bundle.min.js"></script>
    <!-- vue2 -->
    <script src="./static/js/vue.min.js"></script>
    <script src="./static/js/axios.min.js"></script>
    <!-- 引入jq,layer弹窗 -->
    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/layer/layer.js"></script>
    <!-- 自定义vue插件 -->
    <script src="./static/js/vue.plugin.js"></script>
    <script type="text/javascript">
      function stream(msg) {
        console.log(msg);
      }
      var app = new Vue({
        el: "#app",
        data: {
          wait: false,
          message: "",
          chatLog: [],
          ApiUrl: "https://api.chatanywhere.cn/",
          ApiKey: "",
        },
        methods: {
          clean: function () {
            var vm = this;
            // 使用layer的confirm确认框
            this.$layer.confirm(
              "确定要清空聊天记录吗？",
              {
                btn: ["确定", "取消"],
                title: "确认清空",
                closeBtn: 0,
              },
              function () {
                // 清空chatLog
                vm.chatLog = [];
                // 从localStorage中删除chatLog
                window.localStorage.removeItem("chatLog");
                vm.$layer.closeAll();
                vm.$message("清除成功", "success");
              },
              function () {
                // 不执行任何操作
              }
            );
          },
          load_stream: function(data) {

          }
          send: function () {
            var vm = this;
            // 读取data.message的值
            var userMessage = this.message;
            if (userMessage == "") {
              return this.$message("请输入内容再提交");
            }
            // 添加用户的聊天记录到chatLog
            this.chatLog.push({
              name: "用户",
              msg: userMessage,
            });
            // 清空输入框
            this.message = "";
            //等待
            this.wait = true;
            this.$stream("chat.php",
            {ApiUrl:this.ApiUrl,ApiKey:this.ApiKey,message:userMessage},
            window.stream);
            //等待结束
            this.wait = false;
            // 模拟机器人的回答
            var robotAnswer = "这是机器人的回答";

            // 添加机器人的回答到chatLog
            this.chatLog.push({
              name: "机器人",
              msg: robotAnswer,
            });

            //缓存
            window.localStorage.setItem(
              "chatLog",
              JSON.stringify(this.chatLog)
            );
            this.$message("发送成功", "success");
          },
          save: function () {
            window.localStorage.setItem("ApiUrl", this.ApiUrl);
            window.localStorage.setItem("ApiKey", this.ApiKey);
            this.$message("保存成功", "success");
          },
          start: function () {
            //获取缓存
            if (window.localStorage.getItem("chatLog") != undefined) {
              this.chatLog = JSON.parse(window.localStorage.getItem("chatLog"));
            }
            this.ApiUrl = window.localStorage.getItem("ApiUrl");
            this.ApiKey = window.localStorage.getItem("ApiKey");
            if (this.chatLog == null) {
              this.chatLog = [];
            }
          },
        },
        mounted() {
          this.start();
        },
      });
      Vue.config.devtools = true;
    </script>
  </body>
</html>
